<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="BowlingController">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>


    <ion-content>
              <p>dummy data (look in console after button press (f12 in chrome))</p>
              <button class="button" ng-click="test()">Offline static test</button>
              <ion-list>
                  <ion-item ng-repeat="dummydata in dummydatas">

                          <h1>Points scored: {{dummydata.points}}</h1>
                          <h3>token: {{dummydata.token}}</h3>
                          <!-- <h3>ressultat: {{dummydata.ressult}}</h3> -->
                          
                  </ion-item>
              </ion-list>

        <p>hent score fra http://95.85.62.55/api/points</p>
        <button class="button" ng-click="getData()">get</button>
        <h1>points:</h1>
        <p>{{points}}</p>
        <h3>token:</h3>
        <p>{{token}}</p>
        <h1>score:</h1>
        <p>{{score}}</p>
    </ion-content>

    </ion-pane>
  </body>
</html>
